@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container-fluid{
	padding: 0 45px;
}
.slider{
	height: 100vh;
	width: 100%;
}
body{
	background-image: url(../image/body.jpg);
	background-color: #fff;
    background-repeat: repeat;
    background-size: 13px;
    font-size: 1.025rem;
    line-height: 1.5;
}
.banner{
	background-image: url(../image/order.jpg);
	background-size: cover;
    background-position: top center;
    padding: 60px 25px;
    text-align: center;
    border-radius: 10px;
}
.order{
	text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin: 0;
}
.content{
	max-width: 100%;
    width: 700px;
    margin: auto;
}
.content .in{
	font-size: 35.4px;
	line-height: 1;
	font-family: "Zilla Slab",serif;
    font-weight: 400!important;
}
header{
    background-color: #fff;
    padding: 0 30px;
    position: relative;
}
.navbar-top{
    width: 100%;
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
.navbar-brand{
    padding: 0;
    margin: 0;
}
.logo{
    width: 230px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 87px;
}
.start{
	font-family: 'Oswald', sans-serif;
	font-size: 69.9px;
}
.form1 .form-control{
    width: 175px;
    font-size: .875rem;
    border: solid 1px #372f2d;
    border-radius: 0;
    background-color: #fff!important;
    height: 39px;
    font-family: 'Oswald', sans-serif;

}
.navbar{
    padding: 0!important;
}
.nav-link{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 20px;
    text-transform: uppercase;
    color: black!important;
}
.dropdown-menu{
    width: 1320px!important;
    border: none!important;
    margin-left: -363px;
    overflow: hidden;
    padding: 0!important;
}


.menu-area:hover>.dropdown-menu{
    display: block;
    transition: 1s;
}

.dropdown-item{
    padding-left: 20px!important;
}


.nav-link{
    height: 100px;
    line-height: 100px;
    padding: 0!important;
}
/*.nav-item a{
    padding: 0!important;
}*/




.menu-fix{
    padding-left: 70px;
}
.menu-fix a{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: black!important;
    line-height: 36px;
}
.menu-fix a:hover{
    color: #dc3545!important;
}
.nav-item{
    font-size: 16px!important;
}
.nav-item .nav-link:hover{
    color: #dc3545!important;
    cursor: pointer;
}
.btn-outline-success{
    min-width: 0!important;
    font-size: .875rem!important;
    padding: 9px 20px!important;
    background-image: url(../image/searcj.png)!important;
    background: 0 0;
    background-position: top center;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 0 solid transparent;  
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
}

hr{
	height: 8px!important;
    border: 0;
    background-repeat: repeat-x;
    background-position: top left;
    margin: 25px 0;
    opacity: 1!important;
}
.hr1{
	background-image: url(../image/obar.png)!important;
}
.hr2{
	background-image: url(../image/gray.png)!important;
	margin-bottom: 40px;
    background-color: white!important;
}
.btn .btn-primary{
	background-image: url(../image/obtn.png)!important;
}
.btn{
	text-transform: uppercase;
	padding: 0.75rem 0.75rem;
	color: white!important;
	font-weight: 600;
	font-family: Oswald,sans-serif;
	cursor: pointer;
	min-width: 150px;
	padding-left: 15px;
	padding-right: 15px;
    background-image: url(../image/obtn.png)!important;
    cursor: pointer;
    border-radius: 0!important;
}
.btn:hover{
    background-position: top -48px center;
    border-color: #c6261a;
}
a{
	text-decoration: none;
}
.module{
	margin-bottom: 20px;
}
.content-1{
	width: 350px;
    margin: auto;
    max-width: 100%;
    padding: 125px 0;
}

.first-s{
    display: inline-block;
    font-size: 28.7px;
    line-height: 0!important;
	font-family: "Zilla Slab",serif;
    font-weight: 400!important;
}
.second-s{
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.p1{
	font-family: "Zilla Slab",serif;
    color: #372f2d;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16.70px;
}
.content-1-btn{
	margin-top: 20px;
}
.content-1-bg{
	width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-image: url(../image/GF.jpg)!important;
}
.content-2-bg{
	width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-image: url(../image/item.jpg)!important;
}
.content-3-bg{
	width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-image: url(../image/meat.jpg)!important;
}

.p2{
	font-family: Oswald,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.030rem;
}

.join{
	white-space: nowrap;
    display: inline-block;
    font-size: 46px;
    line-height: 1;
    font-family: "Zilla Slab",serif;
    font-weight: 400!important;
}
.item-bg{
	background-image: url(../image/item2.jpg)!important;
	width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
}
.hours{
	font-family: Oswald,sans-serif;
    font-weight: 600;
    font-size: 118.503px;
    text-transform: uppercase;
    color: #372f2d;
    line-height: 1;
}
.happi{
	font-family: "Zilla Slab",serif;
    color: #372f2d;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 72.9854px;
    text-transform: uppercase;
}

.join-the{
	font-size: 62.4111px;
	font-family: "Zilla Slab",serif;
    font-weight: 400!important;
    color: white;
    text-transform: uppercase;
    line-height: 1;

}
.bones-club{
	font-size: 54.8px;
	font-family: Oswald,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}
.reward{
	font-size: 1.325rem;
    margin-bottom: 25px!important;
    margin: 0;
    font-family: Oswald,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}
.banner-ring{
	background-image: url(../image/ring.jpg)!important;
	background-size: cover;
    background-position: top center;
    padding: 60px 25px;
    text-align: center;
    border-radius: 10px;
}


.title-inner{
    background-image: url(../image/title.png)!important;
    background-size: cover;
    margin-bottom: 40px;
    color: #fff;
}
.first-sa{
    font-size: 25.6741px;
    font-family: "Zilla Slab",serif;
    font-weight: 400!important;
    line-height: 1;
}
.second-sa{
    font-size: 37.9057px;
    font-family: Oswald,sans-serif!important;
}
.inner{
    max-width: 70%;
    margin: auto;
    padding: 20px 0;
}
h2{
    margin: 0;
    line-height: 1;
    font-weight: 600;
}
.first-w{
    font-size: 46px;
    font-family: "Zilla Slab",serif;
    font-weight: 400!important;
    line-height: 1;
}
.second-w{
    font-size: 61px;
    font-family: Oswald,sans-serif!important;
}
.happi-bg{
    background-image: url(../image/white.jpg);
    background-repeat: repeat;
    background-size: 200px;
    border-radius: 10px;
    margin: 0;
}
.hr3{
    background-image: url(../image/gray.png)!important;
    margin-bottom: 40px;
    background-color: white!important;
}


.flogo{
    width: 250px;
    height: 91px;
    vertical-align: middle;
    border-style: none;
}
footer{
    padding: 25px 0!important;
    padding-bottom: 65px!important;
    text-align: center;
}
.icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 0 10px;
    background-position: top center;
}
.foot{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-transform: none;
}
.foot li a{
    color: #372f2d;
    text-transform: uppercase;
}
.foot li{
    display: inline-block;
    font-family: "Zilla Slab",serif;
    text-transform: uppercase;
    font-size: .75rem;
    padding-right: 7px;
    margin-right: 7px;
    line-height: 1;
    border-right: solid 1px #372f2d;
}
.foot a:hover{
    text-decoration: underline;
}
.foot{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.copy{
    color: #372f2d;
    font-size: .75rem;
    margin-bottom: 0;
    display: inline-block;
    font-family: "Zilla Slab",serif;
    font-weight: 400!important;
}
.legal{
    display: inline-block;
    color: #372f2d;
    font-size: .75rem;
    font-family: "Zilla Slab",serif;
    line-height: 1;
    border-left: solid 1px #372f2d;
    padding-left: 5px;
    margin-left: 5px;

}
.legal:hover{
    color: #e43c2f;
}

.run1{
    background-image: url(../image/sl1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-inner{
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}
.run2{
    background-image: url(../image/sl3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.run3{
    background-image: url(../image/sl4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

/*.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}*/


.meat-offer{
    color: white;
    height: 100vh;
    padding: 210px 0px;
    display: table;
    margin-left: 70px;
    text-transform: uppercase;
}

.meat-h1{
    font-size: 35px;
    font-family: Oswald,sans-serif!important;
    color: white;
    font-weight: 500;
}
.pickup{
    font-family: Oswald,sans-serif!important;
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0px;
}
.offer{
    font-size: 75px;
    font-family: Oswald,sans-serif!important;
    color: white;
    font-weight: 700;
}
.t ul li a img:hover{
    color: green;
}
.icon-f img{
    width: 60px;
}
.icon-f{
    list-style: none;
    display: inline-block!important;
    margin: 0px 5px 10px 5px;
}
.t ul li a{
    display: inline-block;
}
.icon-f img:hover{
    filter: red(100%);
}
.mega-menu{
    width: 800px;
    background-color: green;
    overflow: hidden;
}


.header-area{
    width: 100%;
    height: 100vh;
}
.memu-area{
    position: static;
}
.mega-area{
    position: absolute;
    width: 100%;
}